html{
    font-family:Arial;
}
.top-nav{
    background: #000;
    color: #fff;
}

.container{
    min-width: 800px;
    max-width: calc(100% - 28%);
    margin: auto;
}


/**lightbox css**/
.lightbox-grid{

}
.lightbox-grid .photo{
    cursor: pointer;
}

.lightbox-grid .photo:hover{
    box-shadow: 0 0 2em rgba(0,0,0,0.3);
}

.lightbox > .pagination{
    margin: auto;
    position: relative;
    color:#fff;
}
.lightbox > .pagination .next{
    
}

.lightbox-container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11000;
    overflow-x: hidden;
    display: none;
}

.lightbox{
    position: fixed;
    top: 15%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 12000;
    overflow: hidden;
    display:none;
}

.lightbox > .photo{
    box-shadow: 0 0 2em rgba(0,0,0,0.3);
}


.lightbox-overlay{
    opacity: 0;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 10000;
}
.lightbox-overlay.active{
    opacity: 0.5;
}

.photo-container .photo{
    border: 2px solid #fff;
}

.pagination .next, .pagination .prev{
    border: 1px solid #ccc;
    background: #fff;
}

/*helpers*/

.clear-left {
    clear: left !important;
}

.clear-right {
    clear: right !important;
}

.clear-both {
    clear: both !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.float-none {
    float: none !important;
}

/*margin helpers*/
.margin-top-none{
    margin-top: 0;
}


.margin-xx-small{
    margin: 0.35em;
}
.margin-x-small{
    margin: 0.65em;
}
.margin-small{
    margin: 0.9em;
}
.margin-regular{
    margin: 1em;
}
.margin-large{
    margin: 1.2em;
}
.margin-x-large{
    margin: 1.7em;
}


.padding-xx-small{
    padding: 0.35em;
}
.padding-x-small{
    padding: 0.65em;
}
.padding-small{
    padding: 0.9em;
}
.padding-regular{
    padding: 1em;
}
.padding-large{
    padding: 1.2em;
}
.padding-x-large{
    padding: 1.7em;
}